@model IEnumerable<string>

@{
}
<div>
<select class="form-control" id="Section" name="Section">
    @foreach (var sectionName in Model){
                <option>@sectionName</option> 
    }
</select>  
</div>
            
    
    